.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title  {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.subTitle{
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.instruction{
    font-size: 11px;
    position:absolute;
    bottom: 10px;
    text-align: center;
}

.btnPresentation{
    filter: hue-rotate(201deg) saturate(1.5) brightness(0.2);
    position: absolute;
    bottom: 20px;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    margin:10px;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    justify-content: center;
}

.btnPresentation:hover {
    transform: scale(1.2);
}


